/* quiz.component.css */
.main{
  background-image: linear-gradient(to bottom right,rgba(2, 51, 69, 0.5),rgba(64, 113, 151, 0.3),rgba(5, 36, 104, 0.5)),url(src\app\quiz\quizbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed
}
.quiz-popup {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center; 
  }
  
  h2 {
    margin-bottom: 20px;
    font-family: 'Allura', serif;
    color: rgb(3, 79, 106);
    font-weight: bolder;
    word-spacing: 6px;
    letter-spacing: 1px;
    font-size: 45px;
  }
  
  .question {
    min-width: 600px; /* Set a minimum width for each question box */
    height: 280px; /* Set the height for the question boxes */
    margin-right: 20px; /* Add some spacing between question boxes */
    padding: 20px; /* Add padding for better spacing */
    background-color: #f9f9f9; /* Add background color */
    border-radius: 8px; /* Add border radius */
    border: 1px solid #ccc; /* Add border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    display: inline-block; 
    text-align: center; 
    width: 100%; 
    transition: background-color 0.3s ease;
  }
  
  .question:hover {
    background-color: #6e5dd12f; /* Change to desired hover color */
    cursor: pointer;
  }
  
  .options label {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    margin: 20px auto 0;
    background: linear-gradient(to bottom right,#2447b9,#b06ab3);
    color: rgb(255, 242, 242);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(to bottom right,#b06ab3,#2447b9);
  }
  


.quiz-container {
  display: flex;
  justify-content: center;
}

.quiz-popup {
  width: 80%; /* Adjust the width as needed */
}

.questions-container {
  display: flex;
  flex-wrap: nowrap; /* Make sure questions don't wrap to the next line */
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Hide scroll bar for webkit browsers */
.questions-container::-webkit-scrollbar {
  display: none;
}

.options {
  display: flex;
  flex-direction: column;
}

.options label {
  margin-bottom: 10px; /* Add some spacing between radio buttons */
}

.submit-btn {
  margin-top: 20px;
}

.result {
  margin-top: 20px;
}
